<nav class="site-nav">
    <div class="nav-logo">
        <a href="index.html">Saneha's Portfolio</a>
    </div>
    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="projects.html">CS Projects</a></li>
        <li><a href="design.html">Design</a></li>
    </ul>
    <div class="nav-toggle">
        <!-- <span class="mode-text-design">Design</span>
        <label class="switch">
            <input type="checkbox" id="mode-toggle">
            <span class="slider"></span>
        </label>
        <span class="mode-text-tech">Tech</span> -->
    </div>
</nav>